<div class="module fade-in">
    <div id="result-pane">

        <h2> Examples </h2>

        <a href="#!contacts">
            <div class="card" id="kontakt-card">
                <div class="image">
                    <img src="assets/logo_kontakte2go_icon.svg" width="100%">
                </div>
                <div class="text">
                    <h3>Kontakte </h3>
                    <p>Kontakte anzeigen</p>
                </div>
            </div>
        </a>

        <a href="#!projects">
            <div class="card" id="project-card">
                <div class="image">
                    <img src="assets/logo_projekte2go_icon.svg" width="100%">
                </div>
                <div class="text">
                    <h3>Projekte </h3>
                    <p>Projekte anzeigen</p>
                </div>
            </div>
        </a>


        <a href="#!tasks">
            <div class="card" id="task-card">
                <div class="image">
                    <img src="assets/logo_rebu2go_icon.svg" width="100%">
                </div>
                <div class="text">
                    <h3>Aufgabe</h3>
                    <p>Aufgaben anzeigen</p>
                </div>
            </div>
        </a>

        <h2> Documentation </h2>

        <a href="#!documentation">
            <div class="card" id="task-card">
                <div class="image">
                    <img src="assets/logo_rebu2go_icon.svg" width="100%">
                </div>
                <div class="text">
                    <h3>General Documentation</h3>
                    <p> General information and "good-to-knows".</p>
                </div>
            </div>
        </a>

        <a href="#!searchscope">
            <div class="card" id="task-card">
                <div class="image">
                    <img src="assets/logo_rebu2go_icon.svg" width="100%">
                </div>
                <div class="text">
                    <h3>Search Documentation</h3>
                    <p>search documentation and details</p>
                </div>
            </div>
        </a>

        <!-- hiding this again
        <a href="#!teamwork">
            <div class="card" id="task-card">
                <div class="image">
                    <img src="assets/logo_rebu2go_icon.svg" width="100%">
                </div>
                <div class="text">
                    <h3>Teamwork</h3>
                    <p>Dokumente anzeigen</p>
                </div>
            </div>
        </a>

        -->


    </div>

</div>
